<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js'></script>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='http://underscorejs.org/underscore.js'></script>

	<link rel="stylesheet" type="text/css" href="stylin.css">
	<script type="text/javascript" src='juiced.js'></script>
	<script type="text/javascript" src='main.js'></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Exo+2:400,700' rel='stylesheet' type='text/css'>
		
	<title>Dinger, the artificially intelligent George Ding chatbot</title>
</head>

<body ng-app ng-controller='dingerController'>

	<div class='container text-center'>
		
		<div class="row top">
			<a href="https://github.com/hongj77/dinger"><i class='fa fa-github-alt git-icon' data-placement="left" title="How does it work?"></i></a> 
			<h1>Dinger</h1><small class='text-muted'>v1.0</small>
		</div>

		<div class="row">
			<h3>The artificially intelligent George Ding chatbot.</h3>	
		</div>
	
		<div class='row'>
			<form ng-submit='hitEnter()'>
				<input type='text' id='text-input' autofocus='true' placeholder='chat with george!' ng-model="answer">
			</form>
		</div>
	
		<div class="row">
			<div id='chat-box'>
				<div class='chat-padding-top'></div>
				<div class='chat-padding-bottom'></div>
			</div>
		</div>
	</div> <!-- container-fluid -->

	<hr>
	<div class='footer text-center'>
		<p><small class='text-muted'>&copy <a href="http://www.hongjeon.com">Hong Jeon</a> & <a href="http://www.jeffterry.net">Jeffrey Terry</a></p></small>
	</div>

</body>

<script type="text/template" id='george-template'>
	<div class='george-chat-response text-right'>
			<span class='bubble-1'><%= response %></span> &nbsp <img src='ding.jpg' height=35 width=35 class='img-rounded'>
	</div>
</script>
<script type="text/template" id='user-template'>
	<div class='user-chat-query text-left'>
		<span class='bubble-2'><%= query %></span>
	</div>
</script>

<script type="text/javascript">
	$(document).ready(function(){
	 	$('.git-icon').tooltip();
	 	$('.top').mouseenter(function() {
	 		$('.git-icon').tooltip('show');
	 	});
	 	$('.top').mouseleave(function() {
	 		$('.git-icon').tooltip('hide');
	 	});
	 	
	});
</script>
</html>