.text-div {
	text-align: center;
}

#text-input {
	width: 600px;
	height: 40px;
	font-size: 25px;
}

.title {
	text-align: center;
}

.git-icon {
	font-size: 100px;
	color: black;
	transition: color .3s ease-in-out;
}

.git-icon:hover {
	color: #2E9AFE;
}

.git-wrapper {
	text-align: center;
}

.chat-wrapper {
	margin-top: -15px;
	width: 100%;
}

#chat-box {
	width: 600px;
	min-height: 300px;
	max-height: 300px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	background-color: rgb(219,223,231);
}

#chat {
	margin-left: 20px;
}

.user-chat-query {
	font-size: 20px;
	font-family: tahoma;
	text-align: left;
	padding-left: 20px;
	padding-top: 10px;
}

.george-chat-response {
	font-size: 20px;
	font-family: tahoma;
	text-align:right;
	padding-right: 20px;
	padding-top: 10px;

}

.chat-padding-bottom {
	padding: 10px 0;
}

.boot {
	text-align: center;
}
