.container h1 {
	font-size: 80px;
	font-family: 'Exo 2';
	display: inline;
}

.container i {
	margin-top: 20px;
	margin-right: 20px;
}

h3 {
	font-family: 'Open Sans';
	margin-bottom: 20px;
}

.top {
	cursor: pointer;
}

.top:hover .git-icon{
	color: #2E9AFE;
}

.git-icon {
	font-size: 100px;
	color: black;
	transition: color .3s ease-in-out;
}

#text-input {
	width: 600px;
	height: 40px;
	font-size: 25px;
}

#chat-box {
	width: 600px;
	height: 300px;
	overflow-y: auto;
	margin: 0 auto 0px;
	background-color: rgb(219,223,231);
	border-radius: 5px;
}

.user-chat-query, .george-chat-response {
	font-size: 18px;
	font-family: tahoma;
	padding: 10px 20px 0;
}

.chat-padding-top {
	padding-top: 10px;
}

.chat-padding-bottom {
	padding: 10px 0;
}

.bubble-1 {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px 10px 5px;
	background: rgb(167,203,243);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.bubble-1:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 0 9px 15px;
	border-color: transparent rgb(167,203,243);
	display: block;
	width: 0;
	z-index: 1;
	right: -10px;
	top: 5px;
}

.bubble-2 {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px 10px 5px;
	background: #FFFFFF;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.bubble-2:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 9px 15px 9px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -10px;
	top: 5px;
}