.text-div {
	text-align: center;
}

#text-input {
	width: 600px;
	height: 40px;
	font-size: 25px;
}

.title {
	text-align: center;
}

.git-icon {
	font-size: 100px;
	color: black;
	transition: color .3s ease-in-out;
}

.git-icon:hover {
	color: #2E9AFE;
}

.git-wrapper {
	text-align: center;
}

.chat-wrapper {
	width: 100%;
}

.chat-box {
	width: 600px;
	min-height: 200px;
	max-height: 200px;
	overflow: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	background-color: rgba(0,0,0,0.3);
}

#chat {
	margin-left: 20px;
}